#box{
    width: 400px;
    height: 180px;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 20px;
}

h1{
    text-align: center;
}

html{
    margin-top: 70px;
}
    
footer{
        text-align: right;

    }
